body {
    margin: 0;
    padding: 0;
}

section.react-todo-example .copyright {
    padding: 5px;
    background: beige;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
